body {margin:auto;padding:auto;

}
    .main {
    /*display: flex;
  justify-content: center;
  align-items: center;  "Не поднимайтесь выше!" — командует Flexbox */
  height: 80%; /* "Растянуться на весь экран!" — предлагает CSS */
     display: table-cell;
     width:50%;
  
    
    
    }
  .table{
  display: table-cell;
     width:50%;
  }
  .maintable{
  
    display: table;
  height: 50vh;
  }
  
  .random{
    
    
  }
    

  
  .title{
    display: inline-block;
     width:80%;
  }
  .form{
    /*font-size: 3rem;*/
    font-size: 2rem;
    width:45%;
    /*padding: 15px 10%;*/
    padding: 20px 25%;
  }
  
  .body_mass{
    /*text-align: centre;*/
    color: red;
    /*margin:0;*/
    /*padding: 15px 10%;*/
    /*padding: 20px 25%;*/
    width:100%;
  height: 50%;
    font-size: 2.5rem;
  }
    
    .logo{
    
  display: inline-block;
    margin-left: calc(20%-3px);
    
  }
  
  

  
  
    
  
  
  #bottom-left{
      color:#00FF00;
    width:100%;
  left: 0;
  bottom: 0;
  position: absolute;
  font-size: 3rem;
}

footer{
   left: 0;
  bottom: 0;
  position: absolute;
 
}

header{
  
  
    top: 0;
  
  
  width:100%;
  
  

}

html {
  background-image: url(images/8543277.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img{
 height: 43px;
 width: 34px;
vertical-align: middle;

 
}

/*input{
    width:20%;
height:100%;
}*/

.btn-new {
  /*padding: 15px 32px;*/
  padding: 15px 10%;
  width: 92%;
  align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
  text-align: center;
    text-decoration: none;
    color: white;
  font-size: 16px;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
}

.btn-new:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}
.text-field__input {
  display: block;
  width: 80%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
 /* padding: 2% 25px;*/
  font-family: inherit;
  /*font-size: 3rem;*/
  font-size: 2rem;
  text-align: centre;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}